<div class="profile">
  <div class="photos">
    <img src="{{profile.picture}}" />
    <p>Google Id : <strong>{{profile.userId}}</strong></p>
    <p>Google Name : <strong>{{profile.fullName}}</strong></p>
  </div>
</div>

<h1>Welcome {{userProfile._json.name}}, {{flashMessage}}</h1>